In [1]:
import pandas as pd
import os

# Explore Pandas function merge_asof()
## Create test files

In [2]:
fname = "merge_asof/Ilb1.csv"
df = pd.read_csv(fname, encoding='utf-8', delimiter=',', header=0)
#df.head()
tname = "merge_asof/test_csv1.csv"
df.loc[1:10000].to_csv(tname, index=False)

In [18]:
pd.read_csv(tname, encoding='utf-8', delimiter=',', header=0).shape

(10000, 11)

## Merge test files into one csv

In [23]:
del df

In [54]:
# Open file with reference primary key column
df_1 = pd.read_csv("merge_asof/test_csv1.csv", encoding='utf-8', delimiter=',', header=0)
df_1.head()
# Create primary key column
#df_1['key'] = df_1['timestamp'].astype('int64') *  // 1000000  # Convert to seconds
# merged = pd.merge_asof(df1_sorted, df2_sorted, on='timestamp', tolerance=threshold, direction='nearest')

,timestamp,TimeUS,Heading,Pitch,Roll,GyrX,GyrY,GyrZ,AccX,AccY,AccZ
0,1.749653e+09,73854241,207.889999,6.49,-3.09,0.79922,0.01075,-0.13142,0.113707,0.051803,-0.992360
1,1.749653e+09,73864746,207.889999,6.49,-3.08,0.70018,-0.04003,-0.06693,0.111788,0.051101,-0.992464
2,1.749653e+09,73874859,207.889999,6.49,-3.08,0.79071,-0.02418,-0.06328,0.110342,0.050614,-0.992118
3,1.749653e+09,73884128,207.889999,6.49,-3.07,0.73019,0.04813,-0.05778,0.112285,0.050794,-0.991981
4,1.749653e+09,73894175,207.889999,6.49,-3.06,0.62104,0.05523,-0.02896,0.112541,0.050806,-0.990778

In [53]:
#df_1.style.format({'timestamp': '{:.3f}'})
df_1['timestamp'].map('{:.4f}'.format)[1:10]

1    1749652624.1371
2    1749652624.1472
3    1749652624.1565
4    1749652624.1665
5    1749652624.1769
6    1749652624.1875
7    1749652624.1971
8    1749652624.2072
9    1749652624.2175
Name: timestamp, dtype: object

In [61]:
a1 = df_1['timestamp'].diff()
a1.map('{:.4f}'.format)[1:10]

1    0.0105
2    0.0101
3    0.0093
4    0.0100
5    0.0104
6    0.0106
7    0.0095
8    0.0102
9    0.0103
Name: timestamp, dtype: object

In [68]:
round(df_1['timestamp'], 2).map('{:.4f}'.format)[1:10]

1    1749652624.1400
2    1749652624.1500
3    1749652624.1600
4    1749652624.1700
5    1749652624.1800
6    1749652624.1900
7    1749652624.2000
8    1749652624.2100
9    1749652624.2200
Name: timestamp, dtype: object

In [69]:
# Convert timestamp to integer representation in milliseconds
round(df_1['timestamp'], 2).mul(100).astype('Int64')

0       174965262413
1       174965262414
2       174965262415
3       174965262416
4       174965262417
            ...
9995    174965272408
9996    174965272409
9997    174965272410
9998    174965272411
9999    174965272412
Name: timestamp, Length: 10000, dtype: Int64

In [76]:
# Final operation to round the timestamp
df_1.insert(0, 'key', round(df_1['timestamp'], 2).mul(100).astype('Int64'))
df_1

,key,timestamp,TimeUS,Heading,Pitch,Roll,GyrX,GyrY,GyrZ,AccX,AccY,AccZ
0,174965262413,1.749653e+09,73854241,207.889999,6.49,-3.09,0.79922,0.01075,-0.13142,0.113707,0.051803,-0.992360
1,174965262414,1.749653e+09,73864746,207.889999,6.49,-3.08,0.70018,-0.04003,-0.06693,0.111788,0.051101,-0.992464
2,174965262415,1.749653e+09,73874859,207.889999,6.49,-3.08,0.79071,-0.02418,-0.06328,0.110342,0.050614,-0.992118
3,174965262416,1.749653e+09,73884128,207.889999,6.49,-3.07,0.73019,0.04813,-0.05778,0.112285,0.050794,-0.991981
4,174965262417,1.749653e+09,73894175,207.889999,6.49,-3.06,0.62104,0.05523,-0.02896,0.112541,0.050806,-0.990778
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,174965272408,1.749653e+09,173805151,207.339996,6.49,-2.95,-3.21166,0.04938,0.27241,0.118664,0.055530,-0.995254
9996,174965272409,1.749653e+09,173815574,207.339996,6.49,-2.98,-3.20870,0.07357,0.07282,0.119856,0.055927,-1.009539
9997,174965272410,1.749653e+09,173825102,207.339996,6.49,-3.02,-3.13231,-0.13875,-0.17866,0.117476,0.055760,-1.008897
9998,174965272411,1.749653e+09,173834929,207.330002,6.48,-3.04,-2.66788,-0.12558,-0.18088,0.112913,0.056352,-1.000144
9999,174965272412,1.749653e+09,173845430,207.330002,6.48,-3.06,-1.88529,-0.00670,-0.13918,0.110340,0.057336,-0.993311

In [ ]:
#df_1.drop(columns=['key'], inplace=True)

In [78]:
# Open second 
df_2 = pd.read_csv("merge_asof/test_csv2.csv", encoding='utf-8', delimiter=',', header=0)
df_2.insert(0, 'key', round(df_1['timestamp'], 2).mul(100).astype('Int64'))
df_2

,key,timestamp,TimeUS,MagX,MagY,MagZ,USW,Vinp,Temp,Lat,Lng,Alt,ESpd,NSpd,VSpd
0,174965262413,1.749653e+09,73854252,-22280.0,9130.0,27680.0,0,11.809999,22.200001,39.348621,-9.320627,97.707008,0.0,0.00,-0.05
1,174965262414,1.749653e+09,73864757,-22290.0,9130.0,27670.0,0,11.910000,22.100000,39.348621,-9.320627,97.707008,0.0,0.00,-0.05
2,174965262415,1.749653e+09,73874870,-22290.0,9140.0,27670.0,0,11.790000,22.200001,39.348621,-9.320627,97.706001,0.0,0.00,-0.05
3,174965262416,1.749653e+09,73884140,-22280.0,9150.0,27660.0,0,11.910000,22.200001,39.348621,-9.320627,97.705002,0.0,0.00,-0.05
4,174965262417,1.749653e+09,73894187,-22280.0,9160.0,27650.0,0,11.800000,22.400000,39.348621,-9.320627,97.705002,0.0,0.00,-0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,174965272408,1.749653e+09,173805165,-22430.0,9070.0,27670.0,0,11.889999,24.900000,39.348644,-9.320662,90.902008,0.0,0.04,0.06
9996,174965272409,1.749653e+09,173815585,-22390.0,9040.0,27650.0,0,11.840000,24.900000,39.348644,-9.320662,90.903008,0.0,0.04,0.06
9997,174965272410,1.749653e+09,173825113,-22420.0,9040.0,27650.0,0,11.849999,24.900000,39.348644,-9.320662,90.903008,0.0,0.04,0.06
9998,174965272411,1.749653e+09,173834940,-22400.0,9020.0,27630.0,0,11.880000,24.800001,39.348644,-9.320662,90.904007,0.0,0.04,0.07
9999,174965272412,1.749653e+09,173845442,-22390.0,8980.0,27630.0,0,11.790000,24.800001,39.348644,-9.320662,90.901001,0.0,0.04,0.07

In [80]:
threshold = 0  # Define the tolerance in milliseconds
merged = pd.merge_asof(df_1, df_2, on='key', tolerance=threshold, direction='nearest')
merged

,key,timestamp_x,TimeUS_x,Heading,Pitch,Roll,GyrX,GyrY,GyrZ,AccX,...,MagZ,USW,Vinp,Temp,Lat,Lng,Alt,ESpd,NSpd,VSpd
0,174965262413,1.749653e+09,73854241,207.889999,6.49,-3.09,0.79922,0.01075,-0.13142,0.113707,...,27680.0,0,11.809999,22.200001,39.348621,-9.320627,97.707008,0.0,0.00,-0.05
1,174965262414,1.749653e+09,73864746,207.889999,6.49,-3.08,0.70018,-0.04003,-0.06693,0.111788,...,27670.0,0,11.910000,22.100000,39.348621,-9.320627,97.707008,0.0,0.00,-0.05
2,174965262415,1.749653e+09,73874859,207.889999,6.49,-3.08,0.79071,-0.02418,-0.06328,0.110342,...,27670.0,0,11.790000,22.200001,39.348621,-9.320627,97.706001,0.0,0.00,-0.05
3,174965262416,1.749653e+09,73884128,207.889999,6.49,-3.07,0.73019,0.04813,-0.05778,0.112285,...,27660.0,0,11.910000,22.200001,39.348621,-9.320627,97.705002,0.0,0.00,-0.05
4,174965262417,1.749653e+09,73894175,207.889999,6.49,-3.06,0.62104,0.05523,-0.02896,0.112541,...,27650.0,0,11.800000,22.400000,39.348621,-9.320627,97.705002,0.0,0.00,-0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,174965272408,1.749653e+09,173805151,207.339996,6.49,-2.95,-3.21166,0.04938,0.27241,0.118664,...,27670.0,0,11.889999,24.900000,39.348644,-9.320662,90.902008,0.0,0.04,0.06
9996,174965272409,1.749653e+09,173815574,207.339996,6.49,-2.98,-3.20870,0.07357,0.07282,0.119856,...,27650.0,0,11.840000,24.900000,39.348644,-9.320662,90.903008,0.0,0.04,0.06
9997,174965272410,1.749653e+09,173825102,207.339996,6.49,-3.02,-3.13231,-0.13875,-0.17866,0.117476,...,27650.0,0,11.849999,24.900000,39.348644,-9.320662,90.903008,0.0,0.04,0.06
9998,174965272411,1.749653e+09,173834929,207.330002,6.48,-3.04,-2.66788,-0.12558,-0.18088,0.112913,...,27630.0,0,11.880000,24.800001,39.348644,-9.320662,90.904007,0.0,0.04,0.07
9999,174965272412,1.749653e+09,173845430,207.330002,6.48,-3.06,-1.88529,-0.00670,-0.13918,0.110340,...,27630.0,0,11.790000,24.800001,39.348644,-9.320662,90.901001,0.0,0.04,0.07

In [84]:
#df_1['key'][1]-df_1['key'][2]
174965262414-174965262413

1

In [120]:
pd.merge_asof(df_1, df_2, on='timestamp', tolerance=0.01, direction='nearest')

,timestamp,TimeUS,Heading,Pitch,Roll,GyrX,GyrY,GyrZ,AccX,AccY,...,MagZ,USW,Vinp,Temp,Lat,Lng,Alt,ESpd,NSpd,VSpd
0,1.749653e+09,73854241,207.889999,6.49,-3.09,0.79922,0.01075,-0.13142,0.113707,0.051803,...,27680.0,0,11.809999,22.200001,39.348621,-9.320627,97.707008,0.0,0.00,-0.05
1,1.749653e+09,73864746,207.889999,6.49,-3.08,0.70018,-0.04003,-0.06693,0.111788,0.051101,...,27670.0,0,11.910000,22.100000,39.348621,-9.320627,97.707008,0.0,0.00,-0.05
2,1.749653e+09,73874859,207.889999,6.49,-3.08,0.79071,-0.02418,-0.06328,0.110342,0.050614,...,27670.0,0,11.790000,22.200001,39.348621,-9.320627,97.706001,0.0,0.00,-0.05
3,1.749653e+09,73884128,207.889999,6.49,-3.07,0.73019,0.04813,-0.05778,0.112285,0.050794,...,27660.0,0,11.910000,22.200001,39.348621,-9.320627,97.705002,0.0,0.00,-0.05
4,1.749653e+09,73894175,207.889999,6.49,-3.06,0.62104,0.05523,-0.02896,0.112541,0.050806,...,27650.0,0,11.800000,22.400000,39.348621,-9.320627,97.705002,0.0,0.00,-0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.749653e+09,173805151,207.339996,6.49,-2.95,-3.21166,0.04938,0.27241,0.118664,0.055530,...,27670.0,0,11.889999,24.900000,39.348644,-9.320662,90.902008,0.0,0.04,0.06
9996,1.749653e+09,173815574,207.339996,6.49,-2.98,-3.20870,0.07357,0.07282,0.119856,0.055927,...,27650.0,0,11.840000,24.900000,39.348644,-9.320662,90.903008,0.0,0.04,0.06
9997,1.749653e+09,173825102,207.339996,6.49,-3.02,-3.13231,-0.13875,-0.17866,0.117476,0.055760,...,27650.0,0,11.849999,24.900000,39.348644,-9.320662,90.903008,0.0,0.04,0.06
9998,1.749653e+09,173834929,207.330002,6.48,-3.04,-2.66788,-0.12558,-0.18088,0.112913,0.056352,...,27630.0,0,11.880000,24.800001,39.348644,-9.320662,90.904007,0.0,0.04,0.07
9999,1.749653e+09,173845430,207.330002,6.48,-3.06,-1.88529,-0.00670,-0.13918,0.110340,0.057336,...,27630.0,0,11.790000,24.800001,39.348644,-9.320662,90.901001,0.0,0.04,0.07

In [ ]:
#df_2.drop(columns = ['key','TimeUS'], inplace=True)
#df_1.drop(columns=['key'], inplace=True)

In [119]:
df_1 #[['key','timestamp', 'TimeUS']]

,timestamp,TimeUS,Heading,Pitch,Roll,GyrX,GyrY,GyrZ,AccX,AccY,AccZ
0,1.749653e+09,73854241,207.889999,6.49,-3.09,0.79922,0.01075,-0.13142,0.113707,0.051803,-0.992360
1,1.749653e+09,73864746,207.889999,6.49,-3.08,0.70018,-0.04003,-0.06693,0.111788,0.051101,-0.992464
2,1.749653e+09,73874859,207.889999,6.49,-3.08,0.79071,-0.02418,-0.06328,0.110342,0.050614,-0.992118
3,1.749653e+09,73884128,207.889999,6.49,-3.07,0.73019,0.04813,-0.05778,0.112285,0.050794,-0.991981
4,1.749653e+09,73894175,207.889999,6.49,-3.06,0.62104,0.05523,-0.02896,0.112541,0.050806,-0.990778
...,...,...,...,...,...,...,...,...,...,...,...
9995,1.749653e+09,173805151,207.339996,6.49,-2.95,-3.21166,0.04938,0.27241,0.118664,0.055530,-0.995254
9996,1.749653e+09,173815574,207.339996,6.49,-2.98,-3.20870,0.07357,0.07282,0.119856,0.055927,-1.009539
9997,1.749653e+09,173825102,207.339996,6.49,-3.02,-3.13231,-0.13875,-0.17866,0.117476,0.055760,-1.008897
9998,1.749653e+09,173834929,207.330002,6.48,-3.04,-2.66788,-0.12558,-0.18088,0.112913,0.056352,-1.000144
9999,1.749653e+09,173845430,207.330002,6.48,-3.06,-1.88529,-0.00670,-0.13918,0.110340,0.057336,-0.993311

## Loop for reading files

In [3]:
folder_path = "merge_asof"
# Set path to start file whick will be a reference for merging
start_file = "test_csv1.csv"
df0 = pd.read_csv(os.path.join(folder_path, start_file), encoding='utf-8', delimiter=',', header=0)
df_merged = df0.copy()

# Read CSV files and merge them into a single DataFrame
for filename in os.listdir(folder_path):
    if (filename != start_file) & (filename.endswith(".csv")) & (filename.startswith("test_")):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path, encoding='utf-8', delimiter=',', header=0)
        df.drop(columns = ['TimeUS'], inplace=True) # Not needed dublicate column
        df_merged = pd.merge_asof(df_merged, df, on='timestamp', tolerance=0.01, direction='nearest')
        #print(f"Reading {filename}, {df.columns.tolist()}")

## Get summary statistics of merged data and save result

In [205]:
print(f"List of columns:\n {df_merged.columns}")

List of columns:
 Index(['timestamp', 'TimeUS', 'Heading', 'Pitch', 'Roll', 'GyrX', 'GyrY',
       'GyrZ', 'AccX', 'AccY', 'AccZ', 'MagX', 'MagY', 'MagZ', 'USW', 'Vinp',
       'Temp', 'Lat', 'Lng', 'Alt', 'ESpd', 'NSpd', 'VSpd', 'AirSpd', 'NWind',
       'EWind', 'NWindStd', 'EWindStd'],
      dtype='object')

In [206]:
df_merged.head(10)

,timestamp,TimeUS,Heading,Pitch,Roll,GyrX,GyrY,GyrZ,AccX,AccY,...,Lng,Alt,ESpd,NSpd,VSpd,AirSpd,NWind,EWind,NWindStd,EWindStd
0,1.749653e+09,73854241,207.889999,6.49,-3.09,0.79922,0.01075,-0.13142,0.113707,0.051803,...,-9.320627,97.707008,0.0,0.0,-0.05,-0.01,0.0,0.0,0.0,0.0
1,1.749653e+09,73864746,207.889999,6.49,-3.08,0.70018,-0.04003,-0.06693,0.111788,0.051101,...,-9.320627,97.707008,0.0,0.0,-0.05,-0.01,0.0,0.0,0.0,0.0
2,1.749653e+09,73874859,207.889999,6.49,-3.08,0.79071,-0.02418,-0.06328,0.110342,0.050614,...,-9.320627,97.706001,0.0,0.0,-0.05,-0.01,0.0,0.0,0.0,0.0
3,1.749653e+09,73884128,207.889999,6.49,-3.07,0.73019,0.04813,-0.05778,0.112285,0.050794,...,-9.320627,97.705002,0.0,0.0,-0.05,-0.01,0.0,0.0,0.0,0.0
4,1.749653e+09,73894175,207.889999,6.49,-3.06,0.62104,0.05523,-0.02896,0.112541,0.050806,...,-9.320627,97.705002,0.0,0.0,-0.05,-0.01,0.0,0.0,0.0,0.0
5,1.749653e+09,73904548,207.889999,6.49,-3.06,0.48444,0.08091,-0.00747,0.111923,0.050300,...,-9.320627,97.704002,0.0,0.0,-0.05,-0.01,0.0,0.0,0.0,0.0
6,1.749653e+09,73915165,207.940002,6.49,-3.05,0.34032,0.08610,-0.03545,0.112857,0.050032,...,-9.320627,97.739006,0.0,0.0,-0.04,-0.01,0.0,0.0,0.0,0.0
7,1.749653e+09,73924712,207.940002,6.49,-3.05,0.24344,-0.04227,-0.03029,0.113310,0.048481,...,-9.320627,97.738007,0.0,0.0,-0.05,-0.01,0.0,0.0,0.0,0.0
8,1.749653e+09,73934868,207.940002,6.49,-3.05,0.19767,-0.01540,-0.03970,0.113749,0.048343,...,-9.320627,97.738007,0.0,0.0,-0.05,-0.01,0.0,0.0,0.0,0.0
9,1.749653e+09,73945187,207.940002,6.49,-3.05,0.02462,-0.00828,0.05102,0.114511,0.045973,...,-9.320627,97.737007,0.0,0.0,-0.04,-0.01,0.0,0.0,0.0,0.0

In [208]:
df_merged.shape

(10000, 28)

In [210]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 28 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  10000 non-null  float64
 1   TimeUS     10000 non-null  int64
 2   Heading    10000 non-null  float64
 3   Pitch      10000 non-null  float64
 4   Roll       10000 non-null  float64
 5   GyrX       10000 non-null  float64
 6   GyrY       10000 non-null  float64
 7   GyrZ       10000 non-null  float64
 8   AccX       10000 non-null  float64
 9   AccY       10000 non-null  float64
 10  AccZ       10000 non-null  float64
 11  MagX       10000 non-null  float64
 12  MagY       10000 non-null  float64
 13  MagZ       10000 non-null  float64
 14  USW        10000 non-null  int64
 15  Vinp       10000 non-null  float64
 16  Temp       10000 non-null  float64
 17  Lat        10000 non-null  float64
 18  Lng        10000 non-null  float64
 19  Alt        10000 non-null  float64
 20  ESpd       10000 non-null  float64
 21  NSpd       10000 non-null  float64
 22  VSpd       10000 non-null  float64
 23  AirSpd     10000 non-null  float64
 24  NWind      10000 non-null  float64
 25  EWind      10000 non-null  float64
 26  NWindStd   10000 non-null  float64
 27  EWindStd   10000 non-null  float64
dtypes: float64(26), int64(2)
memory usage: 2.1 MB

In [207]:
df.describe()

          timestamp        AirSpd    NWind    EWind  NWindStd  EWindStd
count  1.000000e+04  10000.000000  10000.0  10000.0   10000.0   10000.0
mean   1.749653e+09     -0.007382      0.0      0.0       0.0       0.0
std    2.886901e+01      0.066250      0.0      0.0       0.0       0.0
min    1.749653e+09     -0.120000      0.0      0.0       0.0       0.0
25%    1.749653e+09     -0.050000      0.0      0.0       0.0       0.0
50%    1.749653e+09      0.000000      0.0      0.0       0.0       0.0
75%    1.749653e+09      0.030000      0.0      0.0       0.0       0.0
max    1.749653e+09      0.130000      0.0      0.0       0.0       0.0

## Test how timestamps from different files relative to merged one

In [202]:
# Get random row in merged DataFrame and from particular file to compare

# Define row indices to compare
a, b = 11, 15

# Get random file
random_file = 'test_csv2.csv'  # Replace with a random file name from the folder
df_rf = pd.read_csv(os.path.join(folder_path, random_file), encoding='utf-8', delimiter=',', header=0)

# How data from the random file looks like
df_rf.loc[a:b,:].style.format({'timestamp': '{:.4f}'}) # Format timestamp for display

In [203]:
# How data from the random file looks like in the merged DataFrame. 'TimeUS' value is shown from the merged DataFrame
df_merged.loc[a:b, df_rf.columns].style.format({'timestamp': '{:.4f}'})

In [ ]:
# Save merged DataFrame to CSV
output_file = "test_merged_data.csv"
df_merged.to_csv(os.path.join(folder_path, output_file), index=False)

Index(['timestamp', 'TimeUS', 'MagX', 'MagY', 'MagZ', 'USW', 'Vinp', 'Temp',
       'Lat', 'Lng', 'Alt', 'ESpd', 'NSpd', 'VSpd'],
      dtype='object')